<div id="footer">
	<div class="wrap">
		<ul>
			<li>© Gollazo</li>
			<li><a href="/services/pla">Terms</a></li>
			<li><a href="/services/sla">Privacy</a></li>
			<li><a href="/">Security</a></li>
			<li><a href="/">Contact</a></li>
		</ul>
	</div>
</div>