<div id="header">
	<div class="wrap">
		<div id="title">
			<a href="/"><img src="/assets/header/main_title.png" alt="골라줘"/></a>
		</div>

		<div id="session">
			<% if() %>
			<% else %>
			<% end %>
		</div>
	</div>
</div>